/*styles for assignment 3*/

body, html {
  background-color: orange;
  text-align: center;
  padding-right: 10%;
  padding-left: 10%;
}

h1, h3 {
  font-family: courier;
}

section {
  font-family: tahoma;
}

#orig {
  padding-bottom: 5%;
}